<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
      integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="static/css/style.css" />
    <link rel="shortcut icon" href="/static/favicon.ico" />
    <title>Memory Cards</title>
  </head>
  <body>
    <nav id="nav">
      <button id="toggle" class="toggle">
        <i class="fa fa-bars fa-2x"></i>
      </button>
      <ul>
        <li><a id="courses">Courses:</a></li>
        <li><a href="#">Portfolio</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Contact Me</a></li>
      </ul>
    </nav>
    <div class="header">
      <header>
        <h1>Memoize</h1>
        <h3>Sign up to store cards remotely and create classes</h3>
        <button class="btn btn-small" id="open">
          <i class="fas fa-heart"></i> Sign Up
        </button>
        <button class="btn btn-small" id="login">
          <i class="fas fa-cloud-download-alt">Log In</i>
        </button>
      </header>
    </div>
    <h1>
      Memory Cards
      <button id="show" class="btn btn-small">
        <i class="fas fa-plus"></i> Add New Card
      </button>
    </h1>
    <div id="cards-container" class="cards"></div>
    <div class="navigation">
      <button id="clear" class="clear btn">
        <i class="fas fa-bomb"></i> Clear Cards
      </button>
      <button id="prev" class="nav-button">
        <i class="fas fa-arrow-left"></i>
      </button>
      <p id="current"></p>
      <button id="next" class="nav-button">
        <i class="fas fa-arrow-right"></i>
      </button>
    </div>
    <div id="add-container" class="add-container">
      <h1>
        Add New Card
        <button id="hide" class="btn btn-small btn-ghost">
          <i class="fas fa-times"></i>
        </button>
      </h1>
      <div class="form-group">
        <label for="question">Question</label>
        <textarea id="question" placeholder="Enter question..."></textarea>
      </div>
      <div class="form-group">
        <label for="answer">Answer</label>
        <textarea id="answer" placeholder="Enter Answer..."></textarea>
      </div>
      <button id="add-card" class="btn">
        <i class="fas fa-plus"></i> Add Card
      </button>
    </div>
    <div class="modal-container" id="modal">
      <div class="modal">
        <button class="close-btn" id="close">
          <i class="fa fa-times"></i>
        </button>
        <div class="modal-header">
          <h3>Sign Up</h3>
          <div class="modal-content">
            <p>Register to store cards in the cloud</p>
            <form class="modal-form">
              <div>
                <label for="email">Email</label>
                <input
                  type="email"
                  id="email"
                  placeholder="Enter Email Address"
                  class="form-input"
                />
              </div>
              <div>
                <label for="password">Password</label>
                <input
                  type="password"
                  id="password"
                  placeholder="Enter Password"
                  class="form-input"
                />
              </div>
              <div>
                <label for="password2">Confirm Password</label>
                <input
                  type="password"
                  id="password2"
                  placeholder="Confirm Password"
                  class="form-input"
                />
              </div>
              <input
                id="registerSubmit"
                type="submit"
                value="Submit"
                class="submit-btn"
              />
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="login-modal-container" id="login-modal">
      <div class="modal">
        <button class="close-btn" id="login-close">
          <i class="fa fa-times"></i>
        </button>
        <div class="modal-header">
          <h3>Login</h3>
          <div class="modal-content">
            <form class="modal-form">
              <div>
                <label for="email">Email</label>
                <input
                  type="email"
                  id="login-email"
                  placeholder="Enter Email Address"
                  class="form-input"
                />
              </div>
              <div>
                <label for="password">Password</label>
                <input
                  type="password"
                  id="login-password"
                  placeholder="Enter Password"
                  class="form-input"
                />
              </div>
              <input
                id="loginSubmit"
                type="submit"
                value="Submit"
                class="submit-btn"
              />
            </form>
          </div>
        </div>
      </div>
    </div>
    <script src="static/bundle.js"></script>
  </body>
</html>
