@import url("https://fonts.googleapis.com/css?family=Lato:300,500,700&display=swap");
:root {
  --modal-duration: 1s;
}
* {
  box-sizing: border-box;
}

body {
  background-color: #221efd73;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: "Lato", sans-serif;
}
.display-none {
  display: none;
}
.header header {
  display: inline;
  flex-direction: column;
  justify-items: space-evenly;
  justify-content: center;
  align-items: center;
}
.header h1 {
  align-self: center;
  left: 25%;
  text-shadow: 1px solid #000;
  font-size: 44px;
}
.header button {
  align-content: center;
  position: flex;
  top: 0;
  right: 40px;
}

h1 {
  position: relative;
}

h1 button {
  position: absolute;
  right: 0;
  transform: translate(120%, -50%);
  z-index: 2;
}

.btn {
  cursor: pointer;
  background-color: #fff;
  border: 1px solid rgba(188, 147, 243, 0.8);
  border-radius: 3px;
  font-size: 14px;
  margin-top: 20px;
  padding: 10px 15px;
}

.btn-small {
  font-size: 12px;
  padding: 5px 10px;
}

.btn-ghost {
  border: 0;
  background-color: transparent;
}

.clear {
  margin: inherit;
  border-radius: 5px;
  box-shadow: 1px solid rgba(0, 0, 0, 0.3);
}

.cards {
  perspective: 1000px;
  position: relative;
  height: 300px;
  width: 500px;
  max-width: 100%;
}

.card {
  position: absolute;
  opacity: 0;
  font-size: 1.5em;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform: translateX(50%) rotateY(-10deg);
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.card.active {
  cursor: pointer;
  opacity: 1;
  z-index: 10;
  transform: translateX(0) rotateY(0deg);
}

.card.left {
  transform: translateX(-50%) rotateY(10deg);
}

.inner-card {
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  height: 100%;
  width: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.4s ease;
}

.card.show-answer .inner-card {
  transform: rotateX(180deg);
}

.inner-card-front,
.inner-card-back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background: #fff;
}

.inner-card-front {
  transform: rotateX(0deg);
  z-index: 2;
}

.inner-card-back {
  transform: rotateX(180deg);
}

.inner-card-front::after,
.inner-card-back::after {
  content: "\f021  Flip";
  font-family: "Font Awesome 5 Free", Lato, sans-serif;
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: bold;
  font-size: 16px;
  color: #ddd;
}

.navigation {
  display: flex;
  left: 10em;
  margin: 10px 20px;
}

.navigation .nav-button {
  border: none;
  margin: 5px 4px;
  background-color: transparent;
  cursor: pointer;
  font-size: 16px;
  outline: none;
}
.navigation .nav-button:hover {
  outline: none;
}

.navigation p {
  margin: 25px 45px;
}

.add-container {
  opacity: 0;
  z-index: -1;
  background-color: #f0f0f0;
  border-top: 2px solid #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  transition: 0.3s ease;
}

.add-container.show {
  opacity: 1;
  z-index: 2;
}

.add-container h3 {
  margin: 10px 0;
}

.form-group label {
  display: block;
  margin: 20px 0 10px;
}

.form-group textarea {
  border: 1px solid #aaa;
  border-radius: 3px;
  font-size: 16px;
  padding: 12px;
  min-width: 500px;
  max-width: 100%;
}
.modal-container {
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.login-modal-container {
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.login-modal-container.show-modal {
  display: block;
}

.modal-container.show-modal {
  display: block;
}

.modal {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  width: 400px;
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
}

.modal-header {
  background: #9697f19c;
  color: #fff;
  padding: 15px;
}

.modal-header h3 {
  margin: 0;
  /* border-bottom: 1px solid #333; */
}

.modal-content {
  padding: 20px;
}

.modal-form div {
  margin: 15px 0;
}

.modal-form label {
  display: block;
  margin-bottom: 5px;
}

.modal-form .form-input {
  padding: 8px;
  width: 100%;
}

.close-btn {
  background: transparent;
  background-color: transparent;
  border: transparent;
  font-size: 25px;
  position: absolute;
  top: 0;
  right: 0;
}
.cta-btn {
  padding: 5px 15px;
  font-size: 14px;
  border-radius: 5px;
}
@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body.show-nav {
  /* Width of nav */
  transform: translateX(85px);
}
nav {
  display: none;
  background-color: transparent;
  color: #fff;
  position: relative;
  top: 10px;
  left: 0;
  width: 100%;
  height: 40px;
  z-index: 0;
  transform: translateX(-85px);
  transition: transform 0.7s ease, opacity 0.4s ease;
}
nav.show-nav {
  display: flex;
}
nav ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
}

nav ul li a {
  color: #000;
  padding: 5px 0;
  font-weight: bold;
  text-shadow: 1px solid rgba(0, 0, 0, 0.3);
  text-decoration: none;
}
nav ul li a:hover {
  text-decoration: underline;
  cursor: pointer;
}
nav button {
  position: absolute;
  background: transparent;
  left: 85px;
  border-radius: 5px;
  top: 0;
  outline: none;
  box-shadow: 3px solid #fafafa;
}
nav button:hover {
  outline: none;
}
